[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
web3 = "==5.31.1"
watchdog = "*"
python-dotenv = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
