{% extends "layout.html" %}
{% block title %}Delete player{% endblock %}
{% block main %}
  <div class="m-2 p-2 justify-content-center">
    <p>Deleting player...</p>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    async function deletePlayer() {
        const provider = new ethers.providers.Web3Provider(window.ethereum); 
        await provider.send("eth_requestAccounts", []);
        const address = await provider.getSigner().getAddress();
        const base_address = '{{base_address}}';
        const base_abi = JSON.parse('{{abi_base | tojson | safe}}');
        const c = new ethers.Contract(base_address,base_abi,provider.getSigner());
        console.log("Eliminando player!");
        window.contr = c;

        try {
            await c.delPlayer();
            console.info("Eliminado!");
            alert("Eliminado!");
            window.location.pathname = "/";

        }
        catch(error) {
            console.log("No está registrado");
            console.error(error);
        }
    }

    $(deletePlayer());
  </script>
{% endblock %}