{% extends "challenge.html" %}
{% set active_page = None %}
{% block title %}Guess My Number{% endblock %}
{% block main %}
  {% if base_address %}
  <h2 class="text-gradient-2">Base Address: {{base_address}}</h2>
  {% endif %}

  <h2 class="text-gradient-2">{{ self.title() }} challenge</h2>
  
  <div class="container-fluid col-10 my-3">
    <p>Delega y busca tu parámetro</p>
    <ul class="list-group text-start rounded-3">
      <li class="list-group-item"><b>Paso 1:</b> Despliega el contrato.</li>
      <li class="list-group-item"><b>Paso 2:</b> Hay un contrato denominado <code>numbers</code>. Digamos que es una librería de funciones que otros contratos pueden utilizar. ¿Te suena?</li>
      <li class="list-group-item"><b>Paso 3:</b> Tu puedes interactuar con tu <code>contract</code> (como siempre).</li>
      <li class="list-group-item"><b>Paso 4:</b> El objetivo es conseguir el <code>flag</code> de <code>contract</code>.
        <pre class="text-start rounded-3 mt-2"><code>function getFlag() public view returns(string memory){
    require(owner == msg.sender,"No eres el propietario del contrato");
    return flag;
}</code></pre></li>
      <li class="list-group-item"><b>Paso 5:</b> Parece que debes ser <code>Owner</code>.</li>
      <li class="list-group-item"><b>PISTA:</b> Hay varias formas de encontrar la solución. Decirte que a numbers le gustan números de 0 a 9999.</li>
      <li class="list-group-item"><b>Paso 6:</b> La función <code>execution_function</code> permite ejecutar funciones en otro contrato. </li>
      <li class="list-group-item"><b>PISTA:</b> Trabaja el concepto de data transaction entre contratos y la fuerza bruta (0..10000)</li>
    </ul>
  </div>

  <div class="container-fluid col-10 my-3">
    <pre class="text-start rounded-3"><code>//SPDX-License-Identifier: MIT

    pragma solidity ^0.8.7;
    
    contract Numbers{
    
        string flag;
        uint256 number_flag;
        address public owner;
    
        constructor(uint256 _number_flag){
            flag = "0";
            number_flag = _number_flag;
        }
    
        function blocks() public view returns(uint){
            return block.number;
        }
    
        function guess(uint256 _number) public {
            require(number_flag == _number,"No has acertado");
            owner = msg.sender;
        }
    
        function getFlag() private view returns(string memory){
            require(owner == msg.sender,"No eres propietario");
            return getFlag();
        }
    
        function setNumberFlag() public{
            require(owner == msg.sender,"No eres propietario");
            flag = getFlag();
        }
        
    }
        
</code></pre>
  </div>

  <div class="container-fluid col-10 my-3">
    <pre class="text-start rounded-3"><code>//SPDX-License-Identifier: MIT

    pragma solidity ^0.8.7;
    
    import "./numbers.sol";
    
    contract Guess{
    
        string flag;
        uint256 number_flag;
        address public owner;
        numbers public n;
    
        constructor(string memory _flag, numbers _n, uint256 _number){
            n = numbers(_n);
            owner = msg.sender;
            flag = _flag;
            number_flag = _number;
        }
    
        function getFlag() public view returns(string memory){
            require(owner == msg.sender,"No eres el propietario del contrato");
            return flag;
        }
    
        function execution_function(bytes memory _data) public {
            (bool success, bytes memory returnedData) = address(n).delegatecall(_data);
            require(success,"No correcto");
        }        
    
    }
        
        
</code></pre>
  </div>

  {% if not contract_address %}
  <form class="my-3" action="/deploy" method="post" id="deploy">
      <input type="hidden" class="visually-hidden" id="level" name="level" value="13">
      <input type="hidden" class="visually-hidden" id="user_address" name="user_address" value="">
      <button type="submit" class="btn btn-light border border-dark">Deploy contract</button>
  </form>
  {% endif %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    {% if error %}
        alert("Ya tienes contrato desplegado. Type contract for playing!");
        console.log('{{msg}}');
    {% endif %}

    let base_add = '{{base_address}}';
    let abi = JSON.parse('{{abi_base | tojson | safe}}');
    
    async function Web3Prov(){
        const provider = new ethers.providers.Web3Provider(window.ethereum); 
        await provider.send("eth_requestAccounts", []);
        const address = await provider.getSigner().getAddress();

        base = new ethers.Contract(
            base_add,
            abi,
            provider.getSigner(0)
        );

        {% if not contract_address %}
        document.getElementById('user_address').value = address;
        {% endif %}

        window.base = base;
        window.provider = provider.getSigner(0);
        window.player = address;

        {% if contract_address %}
        contract_address = '{{contract_address}}';
        contract_address_numbers = '{{contract_address_numbers}}'
        abi_address = JSON.parse('{{abi_address | tojson | safe}}');
        abi_numbers = JSON.parse('{{abi_numbers | tojson | safe}}');
        contract = new ethers.Contract(contract_address,abi_address,provider.getSigner(0));
        numbers = new ethers.Contract(contract_address_numbers,abi_numbers,provider.getSigner(0));
        window.contract
        window.numbers
        console.info("type contract for playing!")
        {% endif %}
    }

    function help(){
      console.table({player:'Devuelve la dirección pública del jugador',
                     base:'Acceso a contrato base del juego',
                     contract:'Interactúa con el contrato cuando lo despliegues',
                     numbers:'Interactúa con el contrato de librerías de este reto'
                    });
    }

    $(Web3Prov());
  </script>
{% endblock %}