{% extends "challenge.html" %}
{% set active_page = None %}
{% block title %}Relottery{% endblock %}
{% block main %}
  {% if base_address %}
  <h2 class="text-gradient-2">Base Address: {{base_address}}</h2>
  {% endif %}

  <h2 class="text-gradient-2">{{ self.title() }} challenge</h2>
  
  <div class="container-fluid col-10 my-3">
    <p>¡Boletos para todos! (hackme!)</p>
    <ul class="list-group text-start rounded-3">
      <li class="list-group-item"><b>Paso 1:</b> Este es el reto <code>relottery</code>. Es un reto con cierta dificultad en el que tendrás que jugar a la lotería.</li>
      <li class="list-group-item"><b>Paso 2:</b> Esta lotería tiene algo particular y es que puedes echarte atrás si notas que la suerte no está contigo.</li>
      <li class="list-group-item"><b>Paso 3:</b> Despliega el contrato.</li>
      <li class="list-group-item"><b>Paso 4:</b> Puedes adquirir varios boletos (varias oportunidades de jugar).</li>
      <li class="list-group-item"><b>Paso 5:</b> Si decides echarte atrás podrás <code>anular</code> tu apuesta.</li>
      <li class="list-group-item"><b>PISTA:</b> Tendremos que crear un contrato para implementar un ataque.</li>
      <li class="list-group-item"><b>PISTA:</b> Tendremos que desplegar el contrato en la misma Blockchain que estemos utilizando para la plataforma de retos.</li>
      <li class="list-group-item"><b>Paso 6:</b> El objetivo es conseguir la <code>flag</code> (como siempre). Esta vez, para conseguir la <code>flag</code> deberás conseguir que los fondos del <code>contract</code> se queden a 0.
        <pre class="text-start rounded-3 mt-2"><code>function getFlag() public view returns(string memory){
    require(address(this).balance == 0,"Si hay fondos no puedes conseguir la flag");
    return flag;
}</code></pre>
      </li>
      <li class="list-group-item"><b>PISTA:</b> Revisa las vulnerabilidades que pueden provocar pérdidas de fondos en <b>Smart Contracts</b>.</li>
      <li class="list-group-item"><b>Paso 7:</b> Una vez que ejecutes <code>await contract.balanceTotal()</code> en la consola y observes que los fondos son 0, busca tu <code>flag</code>.</li>
      <li class="list-group-item"><b>Paso 8:</b> No olvides validar tu <code>flag</code> en el contrato <code>base</code> para conseguir tus puntos.</li>
    </ul>
  </div>

  <div class="container-fluid col-10 my-3">
    <pre class="text-start rounded-3"><code>//SPDX-License-Identifier: MIT

pragma solidity ^0.8.4;

contract Lottery{

    mapping(address => uint) public players;
    mapping(address => uint) private players_opportunity;
    string flag;
    uint number;
    address public owner;
    
    constructor(string memory _flag, uint _number) payable {
        flag = _flag;
        number = _number;
        owner = msg.sender;
    }

    //alta lottery
    function pagarBoleto() public payable {
        require(msg.value >= 1000000 wei,"Debes pagar. 1000000 wei => 1 oportunidad. 2000000 wei => 2 oportunidades. +2000000 wei 4 oportunidades");
        players[msg.sender] += msg.value;
        if (msg.value < 2000000 wei){
            players_opportunity[msg.sender] += 1;
        }
        else if (msg.value == 2000000 wei){
            players_opportunity[msg.sender] += 2;
        }
        else{
            players_opportunity[msg.sender] += 4;
        }
    }

    //acertar numero lottery
    function ganarLottery(uint _number) public payable returns (string memory){
        require(players_opportunity[msg.sender] > 0,"Debes comprar boleto. No tienes oportunidades");
        if(_number == number)
        {
            //ganas la lottery
            (bool sent, ) = msg.sender.call{value: address(this).balance}("");
            require(sent, "Fallo al enviar cantidad");
            return ("Has ganado la lottery. ETH para rebosar!");
        }
        else{
            players_opportunity[msg.sender] -= 1;
            return ("Has fallado. Has perdido un intento");
        }
    }

    function intentos() public view returns(uint){
        return players_opportunity[msg.sender];
    }

    function balanceTotal() public view returns(uint){
        return address(this).balance;
    }

    function anularBoleto() public {
        require(players[msg.sender] > 0,"No tienes fondos");
        (bool sent, ) = msg.sender.call{value: players[msg.sender]}("");
        require(sent, "Fallo al enviar cantidad");
        players_opportunity[msg.sender] = 0;
        players[msg.sender] = 0;
    }

    function getFlag() public view returns(string memory){
        require(address(this).balance == 0,"Si hay fondos no puedes conseguir la flag");
        return flag;
    }
    

}</code></pre>
  </div>

  {% if not contract_address %}
  <form class="my-3" action="/deploy" method="post" id="deploy">
      <input type="hidden" class="visually-hidden" id="level" name="level" value="5">
      <input type="hidden" class="visually-hidden" id="user_address" name="user_address" value="">
      <button type="submit" class="btn btn-light border border-dark">Deploy contract</button>
  </form>
  {% endif %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    {% if error %}
        alert("Ya tienes contrato desplegado. Type contract for playing!");
        console.log('{{msg}}');
    {% endif %}

    let base_add = '{{base_address}}';
    let abi = JSON.parse('{{abi_base | tojson | safe}}');
    
    async function Web3Prov(){
        const provider = new ethers.providers.Web3Provider(window.ethereum); 
        await provider.send("eth_requestAccounts", []);
        const address = await provider.getSigner().getAddress();

        base = new ethers.Contract(
            base_add,
            abi,
            provider.getSigner(0)
        );

        {% if not contract_address %}
        document.getElementById('user_address').value = address;
        {% endif %}

        window.base = base;
        window.provider = provider.getSigner(0);
        window.player = address;

        {% if contract_address %}
        contract_address = '{{contract_address}}';
        abi_address = JSON.parse('{{abi_address | tojson | safe}}');
        contract = new ethers.Contract(contract_address,abi_address,provider.getSigner(0));
        window.contract
        console.info("type contract for playing!")
        {% endif %}
    }

    function help(){
      console.table({player:'Devuelve la dirección pública del jugador',
                     base:'Acceso a contrato base del juego',
                     contract:'Interactúa con el contrato cuando lo despliegues'});
    }

    $(Web3Prov());
  </script>
{% endblock %}