{% extends "challenge.html" %}
{% set active_page = None %}
{% block title %}Safeguarding{% endblock %}
{% block main %}
  {% if base_address %}
  <h2 class="text-gradient-2">Base Address: {{base_address}}</h2>
  {% endif %}

  <h2 class="text-gradient-2">{{ self.title() }} challenge</h2>
  
  <div class="container-fluid col-10 my-3">
    <p>Construye grandes funciones para la humanidad… ¿Jugamos?</p>
    <ul class="list-group text-start rounded-3">
      <li class="list-group-item"><b>Paso 1:</b> La evolución del lenguaje Solidity ha sido grande con cada versión del compilador.</li>
      <li class="list-group-item"><b>Paso 2:</b> En este reto se va a trabajar el uso <code>deprecated</code> de términos y funciones que podemos encontrar en los lenguajes.</li>
      <li class="list-group-item"><b>Paso 3:</b> Hay que entender que lo que hoy es válido, mañana puede provocarnos un problema de seguridad si no se tiene en cuenta.</li>
      <li class="list-group-item"><b>Paso 4:</b> Despliega el contrato y revisa las funciones de <code>contract</code>.</li>
      <li class="list-group-item"><b>Paso 5:</b> ¿Hay algo que llame tu atención?</li>
      <li class="list-group-item"><b>Paso 6:</b> Debes lograr ser el <code>owner</code> del contrato.</li>
      <li class="list-group-item"><b>Paso 7:</b> Cuando consigas ser <code>owner</code> recoge tu <code>flag</code>.</li>
      <li class="list-group-item"><b>PISTA:</b> Revisa qué proporciona <code>keccak256</code> y lo que significa. Sacarás el máximo provecho al reto y te dará opciones de ser <owner>.</li>
    </ul>
  </div>

  <div class="container-fluid col-10 my-3">
    <pre class="text-start rounded-3"><code>// SPDX-License-Identifier: MIT

pragma solidity ^0.8.4;

contract Safeguard{

    string flag = "firstuse";
    string message;
    address public owner;

    //constructor
    function safeguard(string memory _flag, string memory _message) public payable{
        message = _message;
        require(keccak256(abi.encodePacked(message)) == keccak256(abi.encodePacked("secret")),"Mensaje incorrecto");
        owner = msg.sender;
        if (keccak256(abi.encodePacked(flag)) == keccak256(abi.encodePacked("firstuse")))
        {
            flag = _flag;
            message = "random";
        }
    }

    modifier onlyOwner {
        require(
            msg.sender == owner,
            "caller no es el owner"
        );
        _;
    }

    function getFlag() public view onlyOwner returns(string memory){
        return flag;
    }

}</code></pre>
  </div>

  {% if not contract_address %}
  <form class="my-3" action="/deploy" method="post" id="deploy">
      <input type="hidden" class="visually-hidden" id="level" name="level" value="3">
      <input type="hidden" class="visually-hidden" id="user_address" name="user_address" value="">
      <button type="submit" class="btn btn-light border border-dark">Deploy contract</button>
  </form>
  {% endif %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    {% if error %}
        alert("Ya tienes contrato desplegado. Type contract for playing!");
        console.log('{{msg}}');
    {% endif %}

    let base_add = '{{base_address}}';
    let abi = JSON.parse('{{abi_base | tojson | safe}}');

    async function Web3Prov(){
        const provider = new ethers.providers.Web3Provider(window.ethereum); 
        await provider.send("eth_requestAccounts", []);
        const address = await provider.getSigner().getAddress();

        base = new ethers.Contract(
            base_add,
            abi,
            provider.getSigner(0)
        );

        {% if not contract_address %}
        document.getElementById('user_address').value = address;
        {% endif %}

        window.base = base;
        window.provider = provider.getSigner(0);
        window.player = address;

        {% if contract_address %}
        contract_address = '{{contract_address}}';
        abi_address = JSON.parse('{{abi_address | tojson | safe}}');
        contract = new ethers.Contract(contract_address,abi_address,provider.getSigner(0));
        window.contract
        console.info("type contract for playing!")
        {% endif %}
    }

    function help(){
      console.table({player:'Devuelve la dirección pública del jugador',
                     base:'Acceso a contrato base del juego',
                     contract:'Interactúa con el contrato cuando lo despliegues'});
    }

    $(Web3Prov());
  </script>
{% endblock %}